<br>
<%= render 'shared/errors', obj: @comic %>
<br>
<div class="row">
  <div class="col-lg-12">
    <%= form_with model: @comic, local: true do |f| %>
      <div class="form-group row">
        <label class="control-label col-sm-2">
          <%= f.label :series_title %>
        </label>
        <div class="col-sm-8">
          <%= f.text_field :series_title, list: "series" %>
          <datalist id="series">
            <% Series.all.each do |series| %>
              <option value="<%= series.title %>">
            <% end %>
          </datalist>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2">
          <%= f.label :issue_number %>
        </label>
        <div class="col-sm-8">
          <%= f.text_field :issue_number, class: "form-control", placeholder: "Issue Number" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2">
          <%= f.label :quantity_owned %>
        </label>
        <div class="col-sm-8">
          <%= f.text_field :quantity_owned, class: "form-control", placeholder: "Quantity Owned" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2">
          <%= f.label :condition %>
        </label>
        <div class="col-sm-8">
          <%= f.text_field :condition, class: "form-control", placeholder: "Condition" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2"><%= f.label :anonymous %></label>
        <div class="col-sm-8">
          <%= f.check_box :anonymous %>
        </div>
      </div>
      <div class="center">
        <%= f.submit class: "btn btn-outline-dark btn-med" %>
        <br><br>
        <%= link_to "Back to Comics", comics_path, class: "btn btn-light btn-med" %>
      </div>
    <% end %>
  </div>
</div>