<h1 class="center comic-font">Create new Publisher</h1>
<br>

<%= render 'shared/errors', obj: @publisher %>

<%= form_with model: @publisher, local: true do |f| %>
  <div class="form-group row">
    <div class="control-label col-sm-2">
      <%= f.label :name %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control", placeholder: "Publisher name"%>
    </div>
  </div>
  <div class="center">
    <%= f.submit class: "btn btn-outline-dark btn-med" %>
    <br><br>
    <%= link_to "Back to Comics", comics_path, class: "btn btn-light btn-med" %>
  </div>
<% end %>