<!DOCTYPE html>
<html>
  <head>
    <title>ComicBookRoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- heading font -->
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">  

  </head>
  <body>
  
    <% flash.each do |name, msg| %>
      <ul>
        <li><%= msg %> 
      </ul>
    <% end %>

    <%= yield %>
    
  </body>
</html>
