<!DOCTYPE html>
<html>
  <head>
    <title>ComicBookRoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- heading font -->
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">  

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>

    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>

    <% if action_name === "home" || action_name == "login" || action_name == "signup" %>
      <body class="home-body">
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
